/*LOGIN.js & SIGNUP.js & NEWEMPLOYEE.js & NEWROOM.js & CHANGEPASSWORD*/
#loginForm, #signUpForm, #newEmployeeForm, #newRoomForm, #checkOutForm, #newWakeUpForm, #changeRoleForm,
#inspectRoomForm, #checkInForm, #changePWForm, #helpForm, #incidentRoomForm, #assignRoomsForm, #pwForgetForm,
#pwChangeForm {
    margin-top: 2%;
}
#userPass, #userEmail, #confirmUserPass, #signUpName, #employeeFName, #employeeLName,
#employeeDOB, #employeePass, #employeeEmail, #roomNum, #custFName, #custLName, #orLabel,
#floorSelect, #roomList, #inspectComment, #incidentComment, #oldPW, #newPW, #newPWVerification,
#contactName, #contactEmail, #contactMessage, #wakeUpRoom, #wakeUpDate, #wakeUpTime,
#assignableRooms, #assignEmployees, #employeeName, #employeeRoleID, #employeeResults,
#listItemGenerator, #userName, #roomOptions, #emailAddress, #pwChange {
    margin-left: 35%;
    width: 30%;
}
#label, #checkbox {
    margin-left: 35%;
}
#pwForgetLink, #signUpLink {
    margin-left: 35%;
    margin-bottom: 0;
}
#searchLabel {
    margin-top: 1%;
    margin-left: 30%;
}
#message {
    width: 200%;
    height: 20%;
}
#error {
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid;
    margin: 10px 27%;
    padding: 15px 10px 15px 50px;
    background-position: 10px center;
    border-radius:.5em;
}
#loginBtn, #signUpBtn, #submitNewEmpBtn, #submitNewRoomBtn, #checkInBtn, #submitAssignRoomsBtn,
#changePWBtn, #SendBtn, #submitIncidentBtn, #checkOutBtn, #submitNewWakeUpBtn, #submitChangeRoleBtn,
#pwForgetBtn, h4 {
    margin-left: 35%;
}

/*HEADER.js*/
#ml-auto {
    margin-right: 10%;
}


