/*LOGIN.js & SIGNUP.js & NEWEMPLOYEE.js & NEWROOM.js & CHANGEPASSWORD*/
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700');
nav{
    margin-bottom:2%;
    padding-top: 0;
    padding-bottom: 0;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th {
    border: 2px solid black;
    border-collapse: collapse;
}

.background-to-bottom{
    background: #FFFFFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #73ACC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #73ACC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.background-to-top{
    background: #FFFFFF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #73ACC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #73ACC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.brand {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-stretch: expanded;
}

.center{
     text-align: center;
     margin: auto auto;
 }

.color1{
    background-color: #73ACC4;
    color: #2B303A;
}

.color2{
    border-color: white;
    background-color: white;
    color: royalblue;
}

.color3{

}

.color4{

}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid;
    margin: 10px 27%;
    padding: 15px 10px 15px 50px;
    background-position: 10px center;
    border-radius:.5em;
}
.margin-left-35{
    margin-left: 35%;
}
.margin-left-45{
    margin-left: 45%;
}
.margin-top-02{
    margin-top: 2%;
}
.right-side1{
    margin-left: 75%;
}
.right-side2{
    margin-left: 60%;
}
.row{
    margin: 0 0;
    margin-bottom: 1rem;
}
.width-50{
    width: 50%;
}
.width-30{
    width: 30%;
}
.width-10{
    border-color: white;
    background-color: white;
    color: royalblue;
    width: 10%;
}
.btn{
    margin-top: auto;
}
.noMargin{
    margin: 0 0;
}
