/*LOGIN.js & SIGNUP.js & NEWEMPLOYEE.js & NEWROOM.js & CHANGEPASSWORD*/
#loginForm, #signUpForm, #newEmployeeForm, #newRoomForm,
#inspectRoomForm, #checkInForm, #changePWForm, #helpForm  {
    margin-top: 2%;
}
#userPass, #userEmail, #confirmUserPass, #signUpName, #employeeFName, #employeeLName,
#employeeDOB, #employeePass, #employeeEmail, #roomNum, #custFName, #custLName,
#floorSelect, #roomList, #inspectComment, #oldPW, #newPW, #newPWVerification{
    margin-left: 35%;
    width: 30%;
}
#label {
    margin-left: 35%;
}
#loginBtn, #signUpBtn, #submitNewEmpBtn, #submitNewRoomBtn, #checkInBtn, #changePWBtn{
    margin-left: 35%;
}

/*HEADER.js*/
#ml-auto {
    margin-right: 10%;
}


